<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.springcloud.sc.upms.mapper.CapfEquipmentTerminalMapper">

    <resultMap id="stgLogMap" type="com.stg.gateway.mapper.StgLogMapper">
        <id property="id" column="id"/>
        <result property="platform" column="platform"/>
        <result property="body" column="body"/>
        <result property="time" column="time"/>
        <result property="toUser" column="to_user"/>
        <result property="messageType" column="message_type"/>
    </resultMap>
</mapper>